.helpnav-box{
    height:218px;
    background:#f3f3f3;
    .helpnav{
        width:1190px;
        height:218px;
        background:#f3f3f3;
        margin:0 auto;
        padding: 24px 0;
        clear: both;
        .helpnav-list{
            float: left;
            width: 200px;
            height:170px;
            margin: 0 19px;
            display: inline-block;
           .helpnav-title{
            height: 40px;
            line-height: 40px;
            color: #000;
            font-size: 16px;
           i{
            display: inline-block;
            float: left;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            }
           } 
            ul{
                margin-left:54px;
                font-size:14px;
                color:#555;
                li{
                    padding:3px 0px;
                    a:hover{
                        color: #e6133c;
                        text-decoration: underline;
                    }
                }
            }
        }

    }
}
/* bottom-nav */
.bottom-box{
    background:#f3f3f3;
    height:168px;
    padding:15px 0 0;
    .bottom-nav{
        height:168px;
        width:1190px;
        margin:0 auto;
        div{
            line-height: 24px;
            text-align: center;
            color: #999;
            font-size:12px;
            a{
                color:#333;
            }
        }
        .drug-message{
            padding:5px 0 0;
            color:#666;
        }
        .police{
            text-align: center;
            padding: 10px 0 20px;
            color:#999;
            a{
                margin-right: 10px;
            }
            img{
                width:20px;
                height:20px;
                padding:0 5px;
            }
            span{
                margin: 0 0 0 5px;
                color: #999; 
            }
        } 
    }

}
/* banner-end */
.new_tm-box{
    height:390px;
    background: #ffff;
    .new_tm{
        height:390px;
        width:1190px;
        background:#ffff;
        margin:0 auto;
        padding-top:20px;
        .new_tm_l{
            float: left;
            width:305px;
            height:370px;
            overflow: hidden;
            position: relative;
            background:#F4F4F4 no-repeat center 40%;  
        }
        .new_tm_l_s {
            width:305px;
            height:370px;
            position: absolute;
            left:165px;
            overflow: hidden;
        }
        .new_tm_r{
            width:885px;
            height:370px;
            float:left;
            li img{
                width:285px;
                height:180px;
                margin-left:10px;
                float: left;
                margin-bottom:10px;     
            }
            
        }
    }
}
/* 用户注册 */
.header-height{
    height:110px;
    background:#f3f3f3;
    .wrap{
        width:950px;
        margin:0 auto;
    }
}
.header-height1{
    height:110px;
    background: #ffffff;
    .wrap{
        width:950px;
        margin:0 auto;
    }
}
.header-logo {
    float: left;
    margin-top: 29px;
    
}
.fl {
    float: left;
    display: inline;
    img{
        background:#fff;
    }
}
.main {
    margin: 0px auto;
    background: #f3f3f3;
    .main-center {
        width: 950px;
        height: 665px;
        background: #fff;
        border: 1px solid #e1dfda;
        margin: 0 auto;
        .center-top {
            height: 30px;
            border-bottom: 1px solid #e1dfda;
            padding: 10px 20px;
            line-height: 30px;
            .title-info {
                float: left;
                font-size: 16px;
                font-family: 'Microsoft YaHei';
                color: #ff002a;
            }
            .title-login {
                float: right;
                font-family: 'Microsoft YaHei';
                color: #63625d;
                font-size:12px;
                a{
                    color: #0088cc;
                }
            }
        }
        .center-bottom {
            width: 759px;
            height: 490px;
            padding:50px 0 74px 191px;
            .registered-info{
                width:759px;
                height:488px;
                form{
                    display:block;
                .registered{
                    position: relative;
                    .loginPerfect-data {
                        padding: 16px 0px;
                        .name {
                            float: left;
                            font-size: 15px;
                            font-family: 'Microsoft YaHei';
                            color: #333333;
                            float: left;
                            width: 136px;
                            text-align: right;
                            line-height: 36px;
                            i {
                                color: #df3d36;
                            }
                        }
                    
                    .loginPerfect-input-div{
                        float: left;
                        padding-left: 5px;
                        display: inline;
                        width:300px;
                        height:36px;
                        input{
                            line-height: 32px;
                            font-size: 16px;
                            vertical-align: middle;
                            padding: 0 10px 0 30px;
                            text-indent: 0px;
                            font-size: 12px;
                            font-family: 'Microsoft YaHei';
                            color: #000;
                            width:256px;
                            height:32px;
                        }
                        #ip{
                            line-height: 32px;
                            font-size: 16px;
                            vertical-align: middle;
                            padding: 0 10px 0 30px;
                            text-indent: 0px;
                            font-size: 12px;
                            font-family: 'Microsoft YaHei';
                            color: #000;
                            width:156px;
                            height:32px;
                        }
                        .register-code {
                            float: left;
                            width: 90px;
                            height: 36px;
                            margin: 0 11px 0 10px;
                            border:1px solid #e1dfda;
                            position: relative;
                            left:200px;
                            top:-36px;
                            button{
                                width: 90px;
                                height: 36px;
                                border: 1px solid #c8c8c8;
                                background: #f5f5f5;
                                cursor: pointer;
                            }
                      }
                      .ftx23 a {
                        color: #0084cc;
                        text-decoration: underline;
                        font-size:12px;
                        position: relative;
                        left:100px;
                     }
                    }
                    .prompt{
                        margin-left:10px;
                       
                        img{
                            float: left;
                            width: 16px;
                            height: 16px;
                            margin-top: 10px;
                        }
                        span{
                            margin-left: 8px;
                            display: inline;
                            line-height: 36px;
                            font-size:12px;
                            color: #000000;
                        }
                        i.strength{
                            background: #cccccc;
                            color: #ffffff;
                            display:inline-block;
                            height: 20px;
                            line-height: 20px;
                            margin-left: 2px;
                            margin-top: 8px;
                            text-align: center;
                            width: 24px;
                        }
                        i.active{
                            background-color: #FF0000;
                        }
                    }
                  } 
                }
                .loginPerfect-remember{
                    height: 55px;
                    padding-left: 140px;
                    line-height: 18px;
                    overflow: hidden;
                    padding-top: 15px;
                    color: #666666;
                    background: #fff;
                    label{
                     float: left;
                     cursor: pointer;
                     outline: none;
                     padding-right: 10px;
                     .clicked img{
                         border: none;
                         width: 13px;
                         height: 13px;
                         margin-left:-116px;
                     }
                     span{
                        float: left;
                        margin-left: 32px;
                        display: inline;
                        font-family: 'Microsoft YaHei';
                        font-size:12px;
                     }
                  }
                  a{
                    color: #0088ca !important;
                    font-size:12px;
                  }
                  .checkbox{
                    position: relative;
                    left:-120px;  
                  }
                }
                .register-button{
                    padding-left: 134px;
                    height: 36px;
                    width:300px;
                    overflow: hidden;
                    button {
                        height: 36px;
                        width:300px;
                        overflow: hidden;
                        color: #ffffff;
                        background: #e6133c;
                        font-size: 16px;
                        cursor: pointer;
                        border: 0;
                        text-align: center;
                        font-family: 'Microsoft YaHei';
                        border-radius: 2px;
                    }
                }
              }
            }
        }
    }
    .newicon{
        position: relative;
        top:-29px;
        left:10px;
    }
    .newicon1{
        position: relative;
        top:2px;
        left:-196px;
    }
    .prompt1 span{
        position: relative;
        top:-29px;
        left:200px;
    }

}
/* 用户登录 */
.login-main{
     padding: 30px 0 25px;
     height: 545px;
     width:100%;
     background: url(../images/login-body.jpg) no-repeat center bottom;
     .login-content{
        width: 488px;
        height: 545px;
        margin: 0 auto;
        border: 6px solid #e2e2e2;
        background: #fff;
        font-family: 'Microsoft YaHei';
        .login-mian-center{
            width: 300px;
            height: 455px;
            margin: 0 auto;
            padding: 45px 0;
            position: relative;
            ul{
                width:300px;
                height:314px;
                .login-title{
                    width:300px;
                    height:50px;
                    .login-tab-sm{
                        width: 149px;
                        height: 20px;
                        line-height: 20px;
                        margin-top: 15px;
                        float: left;
                        text-align: right;
                        font-size: 18px;
                        color: #333;
                        cursor: pointer;
                    }
                    .login-tab-sm1{
                        text-align: left;
                        border-right: 1px solid #ddd;
                    }
                    .login-tab-sm.cur {
                        color: #FF4A4A;
                        font-weight: 700;
                    }
                }
                .main-login{
                    width:300px;
                    height:240px;
                    padding-top:75px;
                    .login-item {
                        margin-top: 10px;
                        padding-bottom: 10px;
                        position: relative;
                        width:300px;
                        height:46px;
                        input{
                            padding-left: 35px;
                            width: 250px;
                            font-size: 12px;
                            vertical-align: middle;
                            width:299px;
                            height:36px;
                        }
                        .newicon {
                            position: absolute;
                            top: 8px;
                            left: 10px;
                        }
                    }
                }
            }
        }
     }
     #alert_info{
        width:300px;
        height:30px;
        padding: 0 0 10px;
        margin-top:0px;
    }
    #btn{
        width:338px;
        height:36px;
        color: #ffffff;
        background-color: #e6133c;
        font-size:16px;
        cursor: pointer;
        border: 0;
        text-align: center;
    } 
}
/* 商品 */
.alsolike{
    width:1200px;
    height:1500px;
    margin:0 auto;
    background:#fff;
    .featured_tit{
        margin: 8px 4px;
        height: 30px;
        line-height: 30px;
        color: #333;
        font-family: '\5FAE\8F6F\96C5\9ED1';
        font-weight: 400;
        border-bottom:1px solid #666;
        .guess_love {
            width: 255px;
            padding-left: 65px;
            height: 30px;
            margin: 0 auto;
        }
        span {
            margin-left: 5px;
            font-size: 16px;
            color: #999;
        }
    }
    .featured_log {
        text-align: right;
        margin-bottom: 14px;
        font-size: 14px;
        font-family: 微软雅黑;
        color: rgb(153, 153, 153);
        padding-right: 5px;
        a{
            color: #ff6f6f;
        }
    }
    .like_class{
        height: 340px;
        margin-bottom: 10px;
        li{
            float: left;
            height: 340px;
            margin: 0 5px;
            position: relative;
            width: 230px;
            background: #fff;
            margin-bottom: 10px;
            .pro-show {
                height: 338px;
                width: 228px;
                border: 1px solid #e4e4e4;
                background: #fff;
                .pro-img{
                    height: 220px;
                    width: 220px;
                    padding: 4px;
                }
                .pro-name {
                    padding: 0 11px;
                    margin-top: 5px;
                    color: #333;
                    line-height: 21px;
                    height: 42px;
                    overflow: hidden;
                    color:#666;
                    font-size: 14px;
                }
                .pro-money {
                    padding: 0 11px;
                    height: 26px;
                    margin-top: 3px;
                    position: relative;
                    .money-fl {
                        color: #ff6f6f;
                        font-family: Verdana,Geneva,sans-serif;
                        font-size: 18px;
                        line-height: 26px;
                        a{
                            float: right;
                            padding: 0 10px 0 25px;
                            height: 20px;
                            margin-top: 3px;
                            line-height: 18px;
                            border: 1px solid #eee;
                            color: #999;
                            border-radius: 11px;
                            font-size:12px;
                        }
                    }
                }
            }
        }
    }

}